<div class="container mt-3">
    <div class="chart">
        {% if alliance_charts.combined_chart %}
        <img src="data:image/png;base64,{{ alliance_charts.combined_chart }}" alt="Combined Fleet Totals" class="img-fluid">
        {% else %}
        <p>No data available for the selected month and year.</p>
        {% endif %}
    </div>
    <div class="chart mt-5">
        {% if alliance_charts.relative_chart %}
        <img src="data:image/png;base64,{{ alliance_charts.relative_chart }}" alt="Relative Participation" class="img-fluid">
        {% else %}
        <p>No data available for the selected month and year.</p>
        {% endif %}
    </div>
    <div class="chart  mt-5">
        {% if alliance_charts.afat_chart %}
        <img src="data:image/png;base64,{{ alliance_charts.afat_chart }}" alt="AFAT Fleet Totals" class="img-fluid">
        {% else %}
        <p>No data available for the selected month and year.</p>
        {% endif %}
    </div>
    <div class="chart mt-5">
        {% if alliance_charts.imp_chart %}
        <img src="data:image/png;base64,{{ alliance_charts.imp_chart }}" alt="IMP Fleet Totals" class="img-fluid">
        {% else %}
        <p>No data available for the selected month and year.</p>
        {% endif %}
    </div>
    <div class="chart mt-5">
        {% if alliance_charts.pie_chart %}
        <img src="data:image/png;base64,{{ alliance_charts.pie_chart }}" alt="AFAT Fleet Type Proportions" class="img-fluid">
        {% else %}
        <p>No data available for the selected month and year.</p>
        {% endif %}
    </div>
    <div class="chart mt-5">
        {% if alliance_charts.line_chart %}
        <img src="data:image/png;base64,{{ alliance_charts.line_chart }}" alt="AFAT Total Fats Over Time" class="img-fluid">
        {% else %}
        <p>No data available for the selected month and year.</p>
        {% endif %}
    </div>

    <!-- Top 5 AFAT Users Table -->
    <div class="table-responsive mt-5">
        <h3>Top 5 FATs</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Fleet Total</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_afat_users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.afat_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Top 5 Combined AFAT/IMP Users Table -->
    <div class="table-responsive mt-5">
        <h3>Top 5 FATs & IMP Fleets</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Combined Total</th>
                </tr>
            </thead>
            <tbody>
                {% for user in top_combined_users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.combined_total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
