<div class="container mt-3">
    {% for corp_name, members in raw_data.items %}
        <h3>{{ corp_name }}</h3>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Player</th>
                    <th>LAWN Total</th>
                    <th>IMP Total</th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                    <tr>
                        <td>{{ member.name }}</td>
                        <td>{{ member.afat_total }}</td>
                        <td>{{ member.imp_total }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</div>
